/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('../Images/privacy.jpg'); /* Background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Container Styling */
.terms-container {
    background-color: rgba(30, 30, 30, 0.85); /* Semi-transparent background to allow the image to show through */
    padding: 40px;
    border-radius: 20px;
    width: 75%;
    margin: 40px auto;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.7);
    text-align: left;
    position: relative;
}

/* Header Styling */
.terms-header {
    text-align: center;
    border-bottom: 2px solid #ff5733;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.terms-header h1 {
    font-size: 2.8em;
    color: #ff5733;
    font-weight: bold;
}

.terms-header p {
    font-size: 1.1em;
    color: #bbb;
}


.section h2 {
    font-size: 1.8em;
    color: #ff5733;
    border-bottom: 2px solid #ff5733;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.section p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #ccc;
    margin-bottom: 15px;
}

/* Links */
.terms-content a {
    color: #ff5733;
    text-decoration: none;
    font-weight: bold;
}

.terms-content a:hover {
    color: #ff2a00;
}

.btn:hover {
    background: #ff2a00;
    box-shadow: 0px 5px 20px rgba(255, 42, 0, 0.7);
}

